.navbar-brand {
    font-weight: 500;
   
}

*{
    font-family: Roboto;
}
h1 {
    font-family: Unbounded;
    font-size: 30px;
    color: #1B1952;
}
#home {
    margin-top: -80px;
    padding-top: 80px;
    position: relative;
    background: url(./img-resources/Vector2.png);
    background-position: bottom;
    background-size: cover;
    /* background-attachment: fixed; */
    height: 130vh;
    background-repeat: no-repeat;
}

.btn-primary{
    background-color: #1B1952 !important;
    border-color: #1B1952;
}
.bg-light  {
    background-color: white !important;
}
.bg-primary{
    background-color: #1B1952 !important;
}
.text-primary {
    color: #1B1952 !important;
}
.card-img {
    height: 100%;
    object-fit: cover;
    object-position: center;
    
}
.bg-secondary {
    color: bisque !important;
}
.text-container {
    margin-right: 10px;
}
.bg-primary2 {
    background-color: rgba(27, 25, 82, 0.92);
}
.text-justify{
    text-align: justify;

}
h2 {
    font-size: 40px;
}
.img-fluid {
    object-fit: contain;
}